name: Build

on:
  workflow_call:
    secrets:
      GHPAGES_GITHUB_TOKEN:
        required: true
      GPG_PRIVATE_KEY:
        required: true
      GPG_KEY_NAME:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: ./scripts/build-setup.sh
      - run: ./scripts/build.sh
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_KEY_NAME: ${{ secrets.GPG_KEY_NAME }}
      - run: ls -l ./docs/index.yaml
      - uses: actions/upload-artifact@v5
        with:
          name: index.yaml
          path: ./docs/index.yaml
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GHPAGES_GITHUB_TOKEN }}
          publish_dir: ./docs
